<ion-side-menus enable-menu-with-back-views="true" style="">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21" style="background-color:#3A8E1C;">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="menu-list4">
        <ion-item class="item-avatar item-icon-right" id="menu-list-item5" ui-sref="menu.home()" menu-close="" style="">
          <h2>home</h2>
          <i class="icon ion-android-favorite"></i>
        </ion-item>
        <ion-item class="item-avatar item-icon-right" id="menu-list-item7" ui-sref="menu.listoptions()" menu-close="" style="">
          <h2>Tutorials</h2>
          <i class="icon ion-ios-book-outline"></i>
        </ion-item>
        <ion-item class="item-avatar" id="menu-list-item8" style="">
          <h2>Item</h2>
        </ion-item>
        <ion-item class="item-avatar" id="menu-list-item6" style="">
          <h2>Item</h2>
        </ion-item>
        <ion-item class="item-avatar" id="menu-list-item12" style="">
          <h2>Item</h2>
        </ion-item>
        <ion-item class="item-avatar" id="menu-list-item10" style="">
          <h2>Item</h2>
        </ion-item>
        <ion-item class="item-avatar" id="menu-list-item11" style="">
          <ion-item class="item-avatar" id="menu-list-item13" style="">
            <h2>Item</h2>
          </ion-item>
          <ion-item class="item-avatar" id="menu-list-item14" style="">
            <h2>Item</h2>
          </ion-item>
          <h2>Item</h2>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
