<ion-view title="Signup" id="page11" style="">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-flag"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="signup-form9" class="list">
      <ion-list id="signup-list8">
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Name</span>
          <input placeholder="" type="text">
        </label>
        <label class="item item-input" id="signup-input4">
          <span class="input-label">Email</span>
          <input placeholder="" type="email">
        </label>
        <label class="item item-input" id="signup-input5">
          <span class="input-label">Password</span>
          <input placeholder="" type="text">
        </label>
      </ion-list>
    </form>
    <a ui-sref="loginPage()" id="signup-button13" class="button button-balanced button-block">Sign up</a>
  </ion-content>
</ion-view>